<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Document</title>
</head>
<body>
        <h1 th:text="${title}"></h1>
        <p th:text="${User.name}"></p>
        <p th:text="${User.lastName}"></p>
        <p th:if="${User.email}" th:text="${User.email}"></p>
        <p th:if="${User.email == null}" th:text="${'Email doesn't exist'}"></p>


        <p th:text="${User1.name}"></p>
        <p th:text="${User1.lastName}"></p>
        <p th:if="${User1.email}" th:text="${User1.email}"></p>
        <p th:if="${User1.email == null}" th:text="${'Email doesn't exist'}"></p>
</body>
</html>